[submodule "app"]
	path = /Volumes/βτεsηΘω./Projects/XDESK/packages/app
	url = https://github.com/bresnow/cnxt.git
[submodule "gun server"]
	path = /Volumes/βτεsηΘω./Projects/XDESK/packages/peer-server
	url = https://github.com/bresnow/studious-dollop.git
